<div class='edit-menu-buttons'>
    <a class='link-to-website' href='/'>
        <button>
            <i class="fa-solid fa-eye"></i>
            Website
        </button>
    </a>

    <a href='/edit/createMenuItem'>
        <button>
            <i class="fa-solid fa-circle-plus"></i>
            Create
        </button>
    </a>

    <a href='/edit/archives'>
        <button>
            <i class="fa-regular fa-folder-open"></i>
            Archives
        </button>
    </a>
</div><!--#edit-menu-->