<footer class='no-print'>
   
        <div>
            &copy;2024 olea restaurant. all rights reserved.
        </div>

        <div>
            <% if(req.user){ %>
                <a href='/logout'>logout</a>
            <% }else{ %>
                <a href='/login'>login</a>
            <% } %>
        </div>

</footer>
</div> <!--#wrapper-->
