<footer>
    <nav id='nav-footer'>
        <a href='/dinner' id='footer-dinner'>dinner</a>
        <a href='/specials' id='footer-specials'>specials</a>
        <a href='/dessert' id='footer-dessert'>dessert</a>
        <a href='/wine' id='footer-wine'>wine</a>
        <a href='/drinks' id='footer-drinks'>drinks</a>
    </nav>

    <div id='footer-bottom'>
        <div>
            &copy;2024 olea restaurant. all rights reserved.
        </div>

        <div>
            <% if(req.user){ %>
                <a href='/logout'>logout</a>
            <% }else{ %>
                <a href='/login'>login</a>
            <% } %>
        </div>
    </div>

</footer>
</div> <!--#wrapper-->
