<footer id='footer-edit'>
   
        <div>
            <a href='/print/dinner'>
                <i class="fa-solid fa-print"></i>
            </a>
        </div>

        <% if(req.user.role=='manager'){ %>
            <div>
                <a href='/users'>
                    <i class="fa-solid fa-user"></i>
                </a>
            </div>
        <% } %>

        <div>
            <% if(req.user){ %>
                <a href='/logout'>logout</a>
            <% }else{ %>
                <a href='/login'>login</a>
            <% } %>
        </div>

</footer>
</div> <!--#wrapper-->
