<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/style.css'>
    <script src="https://kit.fontawesome.com/21ef82ed30.js" crossorigin="anonymous"></script>

    
</head>
<body>
    <div id="wrapper">
 
<main>

        <nav>
            <a href='/dinner'>dinner</a>
            <a href='/specials'>specials</a>
            <a href='/dessert'>dessert</a>
            <a href='/wine'>wine</a>
            <a href='/drinks'>drinks</a>
        </nav>
    
        <div>
        <h1>olea</h1>
        <hr>
        <h2>Account Created</h2>
        <h3>Pending Approval</h3>
        <br><br>
            A Manager Must Validate Your Account<br>
            Before You Can Access the Staff Portal
        </div>
    </main>

<%- include('partials/footer') %>