<%- include('partials/head') %>



<%- include('partials/header') %>

<main>
    <div style="display:grid;place-content:center;min-height:90vh;">
        <div style="text-align:center;">
            <a href="/login"><span class="button">Login</span></a><br><br><br>
            <a href="/signup"><span class="button">Signup</span></a>
        </div>
    </div>
</main>

<%- include('partials/footer') %>